<body>
<h1>アプリ名</h1>
  <div class="container">
    <div class="row">
       <div class="col-md-10 offset-md-1 col-lg-8 offset-lg-2">
        <%= form_with model: @user, local: true do |f| %>
        <%= render 'shared/error_messages.html.erb', object: f. object %>
          <div class="form-group">
            <%= f.label :Name %>
            <%= f.text_field :name, class: 'form-control' %>
          </div>

          <div class="form-group">
            <%= f.label :Email %>
            <%= f.email_field :email, class: 'form-control' %>
          </div>

          <div class="form-group">
            <%= f.label :Password %>
            <%= f.password_field :password, class: 'form-control'   %>
          </div>

          <div class="form-group">
            <%= f.label :password_confirmation %>
            <%= f.password_field :password_confirmation,  class:     'form-control' %>
          </div>

          <%= f.submit '登録', class: 'btn btn-primary' %>
        <% end %>
       </div>
    </div>
  </div>
</body>